.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h1 {
  margin-bottom: -10px;
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Movie-search {
  height: 32px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 8px;
  font-weight: bold;
  width: 470px;
}
.Movie-wrapper {
  width: 500px;
  background-color: antiquewhite;
  color: black;
}
.Movie-title {
  height: 60px;
  margin-top: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.Movie-date {
  margin-top: 26px;
  font-weight: bold;
}
.Movie-rate {
  margin-bottom: 24px;
}
